@model IEnumerable<CleanArchitecture.Domain.Entities.TaskItem>

<h2>Tasks</h2>

<ul>
    @foreach (var task in Model)
    {
        <li class="task-item">
            <form asp-action="CompletedTask" method="post" style="margin:0;">
                <input type="hidden" name="id" value="@task.Id" />
                <input type="checkbox"
                       name="isCompleted"
                       value="true"
                       @(task.IsCompleted ? "checked" : "")
                       onchange="this.form.submit()" />
            </form>

            <span class="@(task.IsCompleted ? "completed" : "")">
                @task.Title
            </span>

            <span>
                @(task.IsCompleted ? "✅" : "")
            </span>

            <span>

                <form asp-action="Delete" method="post">


					<input type="hidden" name="id" value="@task.Id" />
					<button type="submit" style="margin-left:10px;">Delete</button>

                </form>

            </span>
        </li>
    }
</ul>

<form asp-action="Create" method="post" style="margin-top:15px;">
    <input type="text" name="title" placeholder="New task..." />
    <button type="submit">Add</button>
</form>